<span className="preheader"></span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" className="body">
    <tr>
        <td>&nbsp;</td>
        <td className="container">
            <div className="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" className="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td className="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Hi {{{name}}},</p>
                                        <p>Thank you for for being kind enough to donate through "Cloud Donation
                                            Platform by Octagon".
                                        <p>One of our team members will reach you for further guidance</p>
                                        <p>Admin,</p>
                                        <p>Octagon Ltd.</p>
                                        <p>+254-722-528-123</p>
                                        <p>info@octagonltd.co.ke</p>
                                        {{{donations}}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div className="footer" style="border-top-color: blue; border-top-width:1em">
                    <hr />
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td></td>
                            <td className="content-block">
                                <span className="apple-link">Octagon Dynamics, 3rd flr Rehema house ,Kimathi
                                    street</span>

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td className="content-block powered-by">
                                Powered by <a href="">softerwares</a>.
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>